<div class="d-flex justify-content-center container">
    <div class="myBox">
        <div class="text-center">
            <h5>Grocery List</h5>
        </div>
  
        <div class="row">
            <div >
                <div class="d-flex div-form ">
                    <div class="d-flex">
                        <input [(ngModel)]="cartObj.itemName" type="text" id="txtItemName" class="form-control" placeholder="Enter Product Name">
                    </div>
                    <div >
                        <input [(ngModel)]="cartObj.quantity" type="text" id="txtQuantity" class="form-control" placeholder="Enter Quantity">
                    </div>

                    <div >
                        <input [(ngModel)]="cartObj.cost" type="text" id="txtCost" class="form-control" placeholder="Enter Price">
                    </div>
                
                    <div >
                        <button class="btn btn-lm btn-success" id="btnAdd" (click)="onAddItem()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="r pt-2">
            <div >
                <div class="tittle-p">
                    <p class="p1">Product</p>
                    <p class="p2">Quantity</p>
                    <p class="p2">Price</p>
                </div>
  
             
  
                <div class="div-item" *ngFor="let item of selectedFooditemList; let sr=index">
                    <p class="p1">{{sr+1}}. {{item.itemName}} </p>
                    <p class="p3 text-end">x {{item.quantity}} <span class="span-total"><strong>= {{item.cost * item.quantity}}</strong> €</span></p>
                    <button class="button-elimina" (click)="onRemoveItem(item.itemName)">X</button>
                </div>
  
                <hr>
                <div class="div-tot">
                    <p class="text-end">Total</p>
                    <p class="text-end"><strong>{{totalCost}} €</strong></p>
                </div>
            </div>
        </div>
    </div>
  </div>
  