body {
    background-image: url(assets/img/Progetto\ senza\ titolo\ -\ 2024-09-30T164746.464.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0rem;
    background-attachment: fixed; /* Aggiungi questa riga */
  }
  